/*
Name:			Fatima Velic
Course:			CS412 Web application development
Assignment:		CSS stylesheet for Little Library page
Due date:		December 1st, 2019 - first progress
last modified:	November 29h, 2019
Purpuse:		This stylesheet is designed 
				to affect syle of Little Library page and all its sites.
*/

/* Navigation bar */

.homenav  
{
	position: fixed;
	top: 0;
	left: 0;
	height: 9%;
	width: 100%;
	padding: 3px;
	background-color: #1a0000;

}
.homenav ul
{
	list-style: none;

}
.homenav li
{
	display: inline;
}

.homenav a
{
	color: #ffe4b3;
	font-weight: normal;
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	text-align: justify;
	right: auto;
	margin: 0px 0px 5px;
	float: none;
	clear: none;
	padding: 14px 16px;
}

.homenav a:hover 
{
	background-color: #ffe4b3;
	color: #1a0000;
}

.homenav i
{
	color: #ffe4b3;
}
.homenav #left
{
	display: flex;
	float: left;
}
.homenav #right
{
	float: right;
	margin-right: 5%;
}

/* Index */
#main
{
	background-image: url("back_home.jpeg"); 
	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: 100%;
  	font-family: Courier, "Trebuchet MS", Serif;
}

.home
{
	position: inherit;
	margin-top: 10%;
	margin-left: 3%;
	width: 40%;
	padding: 4px;
}

.home h1
{
	font-family: Apple Chancery, cursive;
	text-align: center;
	font-size: 50px;
}

.home p
{
	background: -webkit-linear-gradient(#1a0000, #e08f3d, #faf0b8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

/* Shared attributes for other pages*/
body
{
	background-color: #FFF8DC;
	font-family: Courier, "Trebuchet MS", Serif;
	color: #1a0000;
}
blockquote
{
	font-family: Apple Chancery, cursive;
}
.content
{
	position: inherit;
	margin-top: 6%;
	margin-left: 5%;
	padding: 3px;
	width: 80%;
	font-size: 18px;
	text-align: center;
}

.content h1, h2
{
	color: #3c2521;
	margin-left: 4%;
	font-style: italic;
}
.content i, a
{
	color: #1a0000;
	text-decoration: none;
}

/* tables */
.ctable
{
	position: inherit;
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 10%;
	display: table;
}

.ctable h4
{
	font-size: 20px;
	text-align: center;
	font-style: italic;
}

/* Fiction introduction modification*/
#f-t-section
{
	width: 90%;
	
}

/* About modification*/
#contentA
{
	text-align: left;
}

/* Fiction and Textbooks table modification t*/
 #row .col
{
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    width: 50%;
    padding: 10px;
    font-size: 18px;

}
#row .col img
{
	float: left;
	padding-left: 4px;
	max-width: 100px;
	max-height: 110px;
}

#odd 
{
	background-color: #f4ecd1;
	color: #1a0000;
}
#even
{
	background-color: #5f4a42;
	color: #f4ecd1;
}

/* buttons */
.btn
{
	border: none;
	background-color: #311714;
	color: #ffe4b3;
	font-size: 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn a
{
	color: #ffe4b3;
}

/* Quotes layout and design */
.qrow
{
	font-family: Apple Chancery, cursive;
   	display: table-row;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
#qt
{
	background-image: linear-gradient(#ffcccc, #fff2cc, #d9ffcc, 
		#ccfff2, #ccd9ff, #d9ccff, #ffccff, #ffcce6, #ffcccc);
}
